{% extends 'base.html' %}

{% block content %}
<!-- 질문 -->
<h1>{{ question.subject }}</h1>
<p>{{ question.content }}</p>
<p><small>{{ question.create_date }}</small></p>
<hr>

<!-- 답변 -->
<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<ul>
  {% for answer in question.answer_set.all %}
    <li>
      {{ answer.content }}<br>
      <small>{{ answer.create_date }}</small>
    </li><br>
  {% endfor %}
</ul>

<!-- 답변 등록 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post">
  {% csrf_token %}
  <!-- 오류 표시 Start -->
  {% if form.errors %}
    <div>
      {% for field in form %}
        {% if field.errors %}
          <strong>{{ field.label }}</strong>
          {{ field.errors }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <!-- 오류 표시 End -->
  <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
  <input type="submit" value="답변등록">
</form>
{% endblock %}
